html,
body,
p,
a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  padding: 20px;
  text-align: center;

  .logo {
    font-size: 4rem;
  }

  a {
    display: block;
    color: black;
    margin: 20px auto;
  }
}
